# Configuração de Storage S3/LocalStack
STORAGE_TYPE=s3
BUCKET_NAME=grotrack-refined
S3_ENDPOINT_URL=http://localhost:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# Configuração do Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=grotrack

# API de Feriados
FERIADOS_API_KEY=AQUI_VAI_SUA_CHAVE_DE_API
